@font-face {
    font-family: "Fancy";
    src: url('../fonts/Cormorant_Infant/CormorantInfant-SemiBold.ttf');
}
@font-face {
    font-family: "Fancy-I";
    src: url('../fonts/Cormorant_Infant/CormorantInfant-SemiBoldItalic.ttf');
}